
.grid-container {
    display: grid;
}


/* Icons */

.header {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
}

.profile-picture {
    border-radius: 45%;
    width: 25%;
 
}

.bell {
width: 40px;

}

.home,
.bar,
.memebers,
.settings {
  width: 40px;
  
}

.navigation {
    text-align: center;
    word-spacing: 30px;
    margin: 15px;
}

.profile-image {
    margin: 20px;
    width: 55px;
    border-radius: 45%;
}

/* Dashboard */
.traffic-nav-link,
.traffic-nav-link,
.traffic-nav-link active,
.traffic-nav-link {
    list-style: none;


}
.traffic {
display: grid;
grid--column-gap: 20px;

}

/* Memebers */
.memebers-container {
   
    
}


/* social container */
.social-container {
    text-align: center;
    border: 2px solid red;
    border-collapse: separate;
    border-spacing: 15px 15px;
    background-color: gainsboro; 
}


/* screen size */

@media (min-width: 768px) {

    
}

    


@media (min-width: 1024px) {

}
