
.grid-container {
    display: grid;
}


/* Icons */

.header {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
}

.profile-picture {
    border-radius: 45%;
    width: 25%;
 
}

.bell {
width: 40px;

}

.home,
.bar,
.memebers,
.settings {
  width: 40px;
  
}





.profile-image {
    margin: 20px;
    width: 55px;
    border-radius: 45%;
}


/* screen size */

@media (min-width: 768px) {

    
}

    


@media (min-width: 1024px) {

}
