
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
    "navigation"
    "main";
}

.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
}

.main {
    grid-area: main;

}

.main {
    display: grid;
}
/* Icons */

.header {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
}
.name {
    margin: 15px;
    
}


.profile-picture {
    border-radius: 45%;
    width: 55%;
    margin-top: 4%;
 
}

.bell {
width: 35px;
margin: 20%;

}

.home,
.bar,
.memebers,
.settings {
  width: 40px;
  
}

.navigation {
    text-align: center;
    word-spacing: 30px;
    margin: 15px;
}

.profile-image {
    margin: 20px;
    width: 55px;
    border-radius: 45%;
}

/* Dashboard */
.traffic-nav-link,
.traffic-nav-link,
.traffic-nav-link active,
.traffic-nav-link {
    list-style: none;


}
.traffic-header ul {
display: flex;
justify-content: space-evenly;
padding-left: 0;

}

/* Memebers */
.memebers-container {
  
}

.profile-image {
    display: flex;
    align-items: center;
    padding-left: 125%;
}

/* social container */
.social-container {
    text-align: center;
    border: 2px solid red;
    border-radius: 2%;
    background-color: gainsboro;
    margin: 5%;
    padding: 2%; 
}

.twitter {
    width: 10%;
    padding-right: 80%;
    
}

/* Widget Containers */
.widget-container-full, .widget-container-half {
    width: 95vw;
}

/* message user  */
.container {
    margin: 20px;
    
}

/* settings */
.settings-button {
    margin-top: 2%;
}

.option {
    width: 50%;
    padding: 2%;
}

.button-primary, 
.button-disabled {
    padding: 2%;
    width: 25%;
}

/* Toggle Switch */
.checkbox {
    -webkit-appearance: none;
    position: relative;
    width: 70px;
    height: 30px;
    border-radius: 25px;
    background-color: #ccc;
    transition: background .3s;
    outline: none;
    cursor: pointer;
}

.checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: right .4s;
}

input:checked {
    background-color: "";
}

input:checked::after {
    left: 70%;
}


/* screen size */





@media (min-width: 768px) {

}

    


@media (min-width: 1024px) {

}
